{% extends 'layout.html.twig' %}

{% block title %}Accesso utente - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="text-center">
            {% if is_granted('ROLE_USER') %}
                {% set last_username = app.user.username %}
                Conferma la password
            {% else %}
                Accesso utente
            {% endif %}
        </h1>
        <div class="login col-sm-6 col-md-4 col-md-offset-4">
            <div class="circle-mask">
                <canvas id="canvas" class="circle" width="96" height="96"></canvas>
            </div>
            {% if error %}
                <div class="alert alert-danger">
                    <i class="fa fa-exclamation-triangle"></i> {{ error.message|trans }}
                </div>
            {% endif %}
            <form action="{{ path("login_check") }}" method="post">
                <label for="username" class="hidden">E-mail</label>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-user-circle fa-fw"></i></span>
                    <input type="email" id="username" name="_username" value="{{ last_username }}" placeholder="e-mail" class="form-control">
                </div>
                <label for="password" class="hidden">Password</label>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                    <input type="password" id="password" name="_password" placeholder="password" class="form-control">
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit" id="_submit" name="_submit">
                    <i class="fa fa-enter"></i> entra
                </button
                {% if not is_granted('ROLE_USER') %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                            ricordami
                        </label>
                        {# <a class="pull-right btn btn-sm btn-default" href="{{ path('reset_richiesta') }}">password persa?</a> #}
                    </div>
                {% endif %}
            </form>
        </div>
        <a class="btn btn-success" href="{{ path('registrazione') }}">registrazione</a>
    </div>
{% endblock %}
